* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
 background: #14120b;
 font-family: "Roboto", sans-serif;

}

h1{
 color: #edecec;
 margin: 0px 0px 22.4px;
 font-weight:normal;
}
 p{
 color: #edecec;
 /* margin: 0px 0px 22.4px; */
 font-weight:normal;
 }

.header{
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 20px 80px;
}
 
.nav-menu {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.nav-menu li a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  transition: 0.3s;
}

.nav-menu li a:hover {
  color: #c4c4c4;
}

.sign-btn{
 border-radius: 20px;
 border: 1px solid white;
 padding: 6px 16px 6px 16px; 
 background-color: #14120b;
 color: white;
}

.download-btn{
 border-radius: 20px;
 padding: 6px 15px 6px 15px;   
}

.section{
 padding-left: 80px;
 padding-right: 80px;
}
  
.section-content{
 color: white;
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 justify-content: center;
 height: 35vh;
 padding-left: 80px;
 padding-right: 80px;
}

.download-btn-window{
 border-radius: 20px;
 padding: 12px 16px 12px 16px;   
}


.logo {
  height: 40px;
  width: auto;
}

.screenshot {
  max-width: 100%;
  height: auto;
  padding-bottom: 50px;
   
}

.Trusted-text{
 text-align: center;
 margin: 40px 0 30px;
}

.company-logo{
 display: grid;
 grid-template-columns: repeat(9, 1fr);
 gap: 10px;
 padding: 0 80px;
 margin: 0 auto;
}

.box{
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 30px;
 background-color: #1b1913;
 border-radius: 8px;
}

.box img{
 height: 40px;
 width: auto;
  border-radius: 4px;
}

.feature-section{
 background-color: #1b1913;
 height: 100vh;
 margin: 80px;
 padding-bottom: 30px;
 border-radius: 4px;

}

.feature-card{
display: flex;
align-items: center;
justify-content: center;
gap: 10px;
padding-bottom: 10px;
}

.box{
 height: 300px;
 width: 500px;
 background-color: #1b1913;
}
.logo-content{
 padding: 200px;
}
.card-name{
 display: flex;
    gap: 10px;
}

.main-card-content{
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 height: 100%;
}

