*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

:root {
  --color-bg: #14120b;
  --color-surface: #201e19;
  --color-text: #edecec;
  --color-text-muted: #a0a0a0;
  --color-border: #2a2a2a;
  --color-primary: #f54e00;


  --container-max-width: 1340px;
  --container-padding: 32px;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
  line-height: -1.5;
  letter-spacing: -0.3px;
}

.container {
  max-width: var(--container-max-width);
  margin: 0 auto;
  padding: 0 var(--container-padding);
}

nav {
  width: 100%;
}

.navbar {
  color: var(--color-section);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 18px;
  background-color: var(--color-bg);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  margin-right: 78px;
}

.icon {
  text-align: center;
  font-size: larger;
}

.name h1 {
  font-weight: 600;
  font-size: 17px;
  letter-spacing: -1.2;
}

.nav-links {
  display: flex;
  gap: 8px;
}

.nav-links a {
  font-size: small;
  color: var(--color-section);
  text-decoration: none;
  padding: 5.6px 14px;
}

button {
  background: none;
  padding: 4px 10.5px;
  border-radius: 20px;
  border: 0.5px solid var(--color-text-muted);
}

.sign-in-btn {
  color: var(--color-text);
}

.download-btn {
  border: none;
  background: #edecec;
}

.hero {
  margin-top: 112px;
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.hero-first-part {
  max-width: 640px;
}

.hero-first-part p {
  font-size: 26px;
  line-height: 1.3;
  margin-bottom: 24px;
}

.hero-download-btn {
  background: #edecec;
  color: #000;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 999px;
  margin-bottom: 22px;
}

.hero-second-part img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 48px;
}

.trustedby {
  padding: 6px 18px;
}

.trustedby p {
  text-align: center;
  font-size: small;
  margin-bottom: 22px;
}

.trustadby-logos {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(8, 153px);
  grid-template-rows: 100px;
  gap: 8px;
}

.trusted {
  background-color: #201e19;
  border: 1.5px solid oklab(0.94 0 0 / 0.1);
  border-radius: 4px;
  padding: 30px 46px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trusted img {
  max-width: 98%;
  height: auto;
}